.container {
    width: 100%
}

.products {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}

.productcard {
    flex: 1 0 300px;
}

button {
    padding: 5px;
    margin: 5px;
}

.total {
    text-align: center;
    font-weight: bold;
}